header {
  width: 100vw;
  height: 200px;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 25px;
  margin: 2px auto;
  background: linear-gradient(#4ec9fa, #5e045e);
  display: flex;
  justify-content: space-between;
}

.list {
  height: 30px;
}

iframe {
  position: absolute;
  top: 40vw;
  bottom: 5vw;
  left: 40vw;
  right: 40vw;
}

.son {
  color: white;
  background: purple;
}

.child {
  display: flex;
  justify-content: center;
}

.icon {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 15px;
  height: 14px;
  opacity: 1;
}

.moon {
  color: white;
  background: purple;
}

.sun {
  display: flex;
  justify-content: center;
}

.end {
  width: 100vw;
  height: 200px;
  border-top-right-radius: 6rem;
  border-top-left-radius: 20px;
  margin: 2px auto;
  background: linear-gradient(#4ec9fa, #5e045e);
  padding-bottom: 5px #0000ff;
}

.stop {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  list-style: none;
}
